{% extends "layouts/base.layout.html" %}

{% block title %}Übersicht{% endblock %}

{% block content %}
<section id="webdesign-intro" class="image featured black">
	<div class="container">
		<div class="column">
			<h1>
				Ihre eigene Webseite.<br>
				Rundum betreut.
			</h1>
			<h2>Wir erstellen Ihnen eine eigene Webseite. Und kümmern uns dabei um alles. Damit Sie sich auf andere Dinge konzentrieren können.</h2>
			<div class="links">
				<a href="#webdesign-all-in-one" class="button primary filled">
					Mehr erfahren
				</a>
				<a href="{{ base ~ '/offerte/webdesign' }}" class="button">
					Offerte anfordern
				</a>
			</div>
		</div>
	</div>
</section>
<section id="webdesign-all-in-one" class="container">
	<p class="description">Wir kümmern uns um alles – von A bis Z.</p>
	<div class="column">
		<div class="service">
			<i class="fa fa-file-text"></i>
			<span>Konzeption</span>
		</div>
		<div class="service">
			<i class="fa fa-rocket"></i>
			<span>Umsetzung</span>
		</div>
		<div class="service">
			<i class="fa fa-gears"></i>
			<span>Unterhalt</span>
		</div>
	</div>
</section>
<section id="webdesign-features" class="container">
	<p class="description">Vier Gründe, die für unsere Webseiten sprechen.</p>
	<div class="column">
		<h4>Einfache Verwaltung</h4>
		<p>Wir verwenden für alle Projekte moderne und robuste Verwaltungs-Systeme (CMS). So wird es für Sie zum Kinderspiel, neue Seiten anzulegen, Bilder hochzuladen und Inhalte zu aktualisieren.</p>
	</div>
	<div class="column">
		<h4>Mobile-freundliches Design</h4>
		<p>Ihre Webseite soll auf allen Geräten funktionieren – ob Handy, Tablet oder Computer. Deshalb arbeiten wir konsequent mit mobile-freundlichen Designs, so dass sich Ihre Webseite an alle Bildschirmgrössen anpasst.</p>
	</div>
	<div class="column">
		<h4>Für Suchmaschinen optimiert</h4>
		<p>Damit Sie im Internet besser gefunden werden, optimieren wir Ihnen die Webseite für Google, Bing und Co. Dazu gehört auch eine verschlüsselte SSL-Verbindung, dies verbessert – und noch sicher ist.</p>
	</div>
	<div class="column">
		<h4>Hosting und E-Mail</h4>
		<p>Wir kümmern uns nicht nur um die Umsetzung der Webseite, sondern auch um deren Unterhalt. Wir installieren Ihnen eine Domain und stellen Ihnen zusätzlich eigene E-Mail-Adressen zur Verfügung.</p>
	</div>
</section>
<section id="webdesign-templates">
	<div class="container">
		<p class="description">Wählen Sie aus hunderten Webseiten-Designs.</p>
	</div>
	<div class="image full-width"></div>
</section>
<section id="webdesign-pricing">
	<div class="container">
		<p class="description">Keine Geheimniskrämerei: Unsere Preise sind transparent.</p>
		<div class="column">
			<ul class="pricing-table primary">
				<li class="product-name">Minimal</li>
				<li class="pay-period">Einmalig</li>
				<li class="price">180 Fr.</li>
				<div class="features">
					<li>Wir installieren die Webseite und das Design. Den Rest übernehmen Sie.</li>
					<li>
						Verwaltungs-System (CMS)
						<em>Wordpress oder Concrete5</em>
					</li>
					<li>
						Responsive Design
						<em>Für Handy, Tablet und Computer</em>
					</li>
					<li>
						Für Suchmaschinen optimiert
						<em>Bessere Sichtbarkeit im Internet</em>
					</li>
				</div>
				<li class="call-to-action"><a href="#" class="button primary filled">Offerte anfordern</a></li>
			</ul>
		</div>
		<div class="column">
			<ul class="pricing-table product-webdesign primary">
				<li class="product-name">Klein</li>
				<li class="pay-period">Einmalig</li>
				<li class="price">480 Fr.</li>
				<div class="features">
					<li>Sie liefern uns Texte und Bilder für bis zu <b>vier Seiten</b>. Den Rest übernehmen wir.</li>
					<li>
						Verwaltungs-System (CMS)
						<em>Wordpress oder Concrete5</em>
					</li>
					<li>
						Responsive Design
						<em>Für Handy, Tablet und Computer</em>
					</li>
					<li>
						Für Suchmaschinen optimiert
						<em>Bessere Sichtbarkeit im Internet</em>
					</li>
				</div>
				<li class="call-to-action"><a href="#" class="button primary filled">Offerte anfordern</a></li>
			</ul>
		</div>
		<div class="column">
			<ul class="pricing-table primary">
				<li class="product-name">Mittel</li>
				<li class="pay-period">Einmalig</li>
				<li class="price">780 Fr.</li>
				<div class="features">
					<li>Sie liefern uns Texte und Bilder für bis zu <b>acht Seiten</b>. Den Rest übernehmen wir.</li>
					<li>
						Verwaltungs-System (CMS)
						<em>Wordpress oder Concrete5</em>
					</li>
					<li>
						Responsive Design
						<em>Für Handy, Tablet und Computer</em>
					</li>
					<li>
						Für Suchmaschinen optimiert
						<em>Bessere Sichtbarkeit im Internet</em>
					</li>
				</div>
				<li class="call-to-action"><a href="#" class="button primary filled">Offerte anfordern</a></li>
			</ul>
		</div>
		<div class="column">
			<ul class="pricing-table secondary">
				<li class="product-name">Individuell</li>
				<li class="pay-period">Einmalig</li>
				<li class="price">?</li>
				<div class="features">
					<li>Auf der Suche nach einer individuelleren Web-Lösung? Teilen Sie uns Ihre Idee mit.</li>
					<li>
						Online-Shop
						<em>Verkaufen über's Internet</em>
					</li>
					<li>
						Corporate Design
						<em>Von uns gestaltet</em>
					</li>
					<li>
						Web-Applikation
						<em>Gross und klein</em>
					</li>
				</div>
				<li class="call-to-action"><a href="#contact" class="button primary">Kontaktieren Sie uns</a></li>
			</ul>
		</div>
		<div class="column">
			<ul class="pricing-table obligatory">
				<li class="product-name">Domain</li>
				<li class="pay-period">Jährlich</li>
				<li class="price">15 Fr.</li>
				<div class="features">
					<li>
						Ihre eigene .ch-Domain
						<em>ihre-domain.ch</em>
					</li>
					<li>
						Andere Endungen möglich
						<em>.com, .net, .org, .info, .de, .li, .at</em>
					</li>
				</div>
			</ul>
		</div>
		<div class="column">
			<ul class="pricing-table obligatory">
				<li class="product-name">Server</li>
				<li class="pay-period">Monatlich</li>
				<li class="price">35 Fr.</li>
				<div class="features">
					<li>Wir betreiben Ihre Webseite auf unseren Servern.</li>
					<li>
						Fünf eigene E-Mail-Adressen
						<em>name@ihre-domain.ch</em>
					</li>
					<li>
						SSL-Zertifikat
						<em>https://www.ihre-domain.ch</em>
					</li>
				</div>
			</ul>
		</div>
	</div>
</section>
{% endblock %}