{% extends "layouts/base.layout.html" %}

{% block title %}Übersicht{% endblock %}

{% block content %}
<section id="webdesign-intro" class="featured-image black">
	<div class="container">
		<div class="column">
			<h1>
				Ihre eigene Webseite.<br>
				Rundum betreut.
			</h1>
			<h2>Wir erstellen Ihnen eine eigene Webseite. Und kümmern uns dabei um alles. Damit Sie sich auf andere Dinge konzentrieren können.</h2>
			<div class="links">
				<a href="{{ base ~ '/webdesign' }}" class="button primary filled">
					Mehr erfahren
				</a>
				<a href="{{ base ~ '/offerte/webdesign' }}" class="button inverted">
					Offerte anfordern
				</a>
			</div>
		</div>
	</div>
</section>
<section id="webdesign-features" class="container">
	<p class="description">Vier Gründe, die für <a href="{{ base ~ '/team' }}">unsere</a> Webseiten sprechen.</p>
	<div class="feature">
		<i></i>
		<h4>Einfache Verwaltung</h4>
		<p>Für unsere Webseiten setzen wir nur die modernsten und </p>
	</div>
	<div class="feature">
		<i></i>
		<h4>Mobile-freundliches Design</h4>
		<p></p>
	</div>
	<div class="feature">
		<i></i>
		<h4>Für Suchmaschinen optimiert</h4>
		<p></p>
	</div>
	<div class="feature">
		<i></i>
		<h4>Von A bis Z betreut</h4>
		<p></p>
	</div>
</section>
<section id="webdesign-infrastructure">
	image with cool slogan
</section>
<section id="webdesign-pricing">
	<p class="description">Kein Geheimnis: Unsere Preise sind transparent.</p>
	Price table
</section>
{% endblock %}