// Imports
@import 'normalize';
@import 'breakpoint';
@import 'susy';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import 'font-awesome';

// Grid configuration
$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: inside,
);

// White to black
$white: #FBFBFB;            // 1%
$iron: #E6E7E8;             // 10%
$silver-sand: #C7C8CA;      // 25%
$oslo-grey: #939598;        // 50%
$shuttle-grey: #636466;     // 75%
$ship-grey: #414042;        // 90%
$black: #262324;            // 99%

// Colours
$hot-cinnamon: #E65618;
$picton-blue: #3990E6;

// Relative colours
$primary-color: $hot-cinnamon;
$secondary-color: $picton-blue;

// General styles

// Structure
body {
	font-family: 'Open Sans', sans-serif;
}

// Styles
header {
	.container {
		@include container(95%);
	}
	#logo {
		float: left;
		margin: 0;
	}
}

nav {
	ul {
		margin: 0;
		li {
			list-style: none;
			float: left;
			a {
				color: $black;
				text-decoration: none;
			}
		}
	}
	&#primary-menu {
		float: right;
		padding: 30px 0;
		ul {
			li {
				margin-left: 40px;
				a {
					font-weight: 300;
					&:hover {
						color: $oslo-grey;
					}
					&.button {
						padding: 5px 15px;
						border: solid 1px $primary-color;
						color: $primary-color;
						border-radius: 20px;
						&:hover {
							background-color: $primary-color;
							color: $white;
						}
					}
				}
				&.active a:not(.button) {
					color: $primary-color;
					font-weight: 600;
				}
			}
		}
	}
}