// ------------------------------------------------
// -------------------- IMPORTS -------------------
// ------------------------------------------------

@import 'normalize';
@import 'breakpoint';
@import 'susy';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import 'font-awesome';


// ------------------------------------------------
// -------------------- SETUP ---------------------
// ------------------------------------------------

// Grid configuration
$susy: (
	columns: 12,
	gutters: .5,
	math: fluid,
	output: float,
	gutter-position: inside,
	debug: (
		image: hide,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,
	)
  );

// Breakpoints
@include breakpoint-set('no query fallbacks', true);
$bp-small: 40rem;
$bp-medium: 60rem;
$bp-large: 90rem;

// White to black
$white: #FBFBFB;			// 1%
$iron: #E6E7E8;				// 10%
$silver-sand: #C7C8CA;		// 25%
$oslo-grey: #939598;		// 50%
$shuttle-grey: #636466;		// 75%
$ship-grey: #414042;		// 90%
$black: #262324;			// 99%

// Colours
$flush-mahogany: #CA3435;
$cascade: #8BA9A5;

// Relative colours
$primary-color: $flush-mahogany;
$secondary-color: $cascade;

// Temporary (only until replaced)
$bp-primary-menu: 1100px;
$bp-footer-lg: 1200px;
$bp-footer: 800px;
$bp-intro: 700px;
$bp-intro-lg: 1250px;
$img-home-webdesign: 'http://zuerichfotos.ch/img_big/zurich-uetliberg-heavens-radio-DSC1660-P4_3_3.jpg';


// ------------------------------------------------
// ---------------- GENERAL STYLES ----------------
// ------------------------------------------------

// Layout
body {
	background-color: $white;
	font-family: 'Open Sans', sans-serif;
	color: $black;
}
.container {
	@include container(90rem);
}
.container-full-width {
	@include container(95%);
}

// Resets
nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

// Headlines
h1 {
	margin: 0 0 2rem 0;
	font-size: 2rem;
	@include susy-breakpoint($bp-medium, $susy) {
		margin: 0 0 2rem 0;
		font-size: 2.5rem;
	}
	@include susy-breakpoint($bp-large, $susy) {
		margin: 0 0 2.5rem 0;
		font-size: 3rem;
	}
}
h2 {
	margin: 0;
	font-size: 1.1rem;
	font-weight: normal;
	@include susy-breakpoint($bp-medium, $susy) {
		line-height: 1.5;
		font-weight: bold;
	}
	@include susy-breakpoint($bp-large, $susy) {
		font-size: 1.25rem;
		line-height: 2;
	}
}
h3 {
	margin: 1.5rem 0;
	font-size: 1.5rem;
	font-weight: normal;
	@include susy-breakpoint($bp-medium, $susy) {
	}
	@include susy-breakpoint($bp-large, $susy) {
	}
}
h4 {
	margin: 1.25rem 0;
	font-size: 1.25rem;
	font-weight: normal;
	@include susy-breakpoint($bp-medium, $susy) {
	}
	@include susy-breakpoint($bp-large, $susy) {
	}
}

// Paragraphs
p {
	line-height: 1.5;
}
address {
	font-style: normal;
}

// Links
a {
	border-bottom: solid 1px $silver-sand;
	text-decoration: none;
	color: $primary-color;
	transition: all 50ms linear;
	&:hover {
		border-bottom-color: $primary-color;
	}
}
@mixin button($background-color, $foreground-color) {
	border-color: $background-color;
	color: $background-color;
	&:hover {
		border-color: $background-color;
		background-color: $background-color;
		color: $foreground-color;
	}
	&.filled {
		background-color: $background-color;
		color: $foreground-color;
		&:hover {
			border-color: lighten($background-color, 10%);
			background-color: lighten($background-color, 10%);
		}
	}
}
@mixin button_hollow($background-color, $foreground-color) {
	border-color: $background-color;
	color: $background-color;
	&:hover {
		border-color: $background-color;
		background-color: $background-color;
		color: $foreground-color;
	}
}
@mixin button_filled($background-color, $foreground-color) {
	border-color: $background-color;
	background-color: $background-color;
	color: $foreground-color;
	&:hover {
		border-color: lighten($background-color, 10%);
		background-color: lighten($background-color, 10%);
	}
}
.button {
	display: inline-block;
	margin: .33em .66em .33em 0;
	padding: .5em 1em;
	border: solid .15em;
	border-radius: .25em;
	text-transform: uppercase;
	text-decoration: none;
	font-size: .875rem;
	font-weight: bold;
	i {
		vertical-align: -.05em;
		margin-right: .66em;
		font-size: 1.25em;
	}
	@include button($black, $white);
	&.primary {
		@include button($primary-color, $white);
	}
	&.secondary {
		@include button($secondary-color, $white);
	}
	&.inverted {
		@include button($white, $black);
	}
	@include susy-breakpoint($bp-small, $susy) {
		border-width: .15em;
		font-size: .875rem;
	}
}

// Featured image
@mixin featured_image_text($foreground-color, $background-color) {
	color: $foreground-color;
	text-shadow: 0 0 0.125em rgba($background-color, 0.5);
	.button {
		text-shadow: none;
		box-shadow: 0 0 0.125em rgba($background-color, 0.5);
	}
}
.featured-image {
	min-height: 15rem;
	background-size: cover;
	background-position: center;	
	background-repeat: no-repeat;
	background-color: $secondary-color;
	.column {
		@include span(12 last);
		margin: 3rem 0;
	}
	.links {
		margin-top: 2rem;
	}
	&.black {
		@include featured_image_text($black, $white);
	}
	&.white {
		@include featured_image_text($white, $black);
	}
	@include susy-breakpoint($bp-small, $susy) {
		text-align: center;
		.column {
			width: span(9 first);
			float: none;
			display: inline-block;
			margin: 3rem auto;
		}
		.links {
			.button {
				margin: .33em;
			}
		}
	}
	@include susy-breakpoint($bp-medium, $susy) {
		.column {
			width: span(6 first);
			margin: 5rem auto;
		}
		.links {
			margin-top: 2.5rem;
		}
	}
	@include susy-breakpoint($bp-large, $susy) {
		text-align: left;
		.column {
			@include span(5 first);
			margin: 7.5rem 0;
		}
		.links {
			margin-top: 3rem;
			.button {
				margin: .33em .66em .33em 0;
			}
		}
	}
}
p.description {
	@include span(12 last);
	line-height: 2;
	text-transform: uppercase;
	font-size: 0.875rem;
	font-weight: bold;
	letter-spacing: 0.125rem;
	@include susy-breakpoint($bp-small, $susy) {
		width: span(8 last);
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	@include susy-breakpoint($bp-medium, $susy) {
		width: span(6 last);
	}
}


// ------------------------------------------------
// -------------------- HEADER --------------------
// ------------------------------------------------

header#primary-header {
	width: 100%;
	a {
		text-decoration: none;
	}
	#logo {
		float: left;
		margin: 0;
	}
	nav#primary-menu {
		position: relative;
		@include breakpoint($bp-primary-menu) {
			position: static;
			float: right;
			padding: 40px 0;
		}
		.toggle {
			float: right;
			margin: 20px 0;
			@include breakpoint($bp-primary-menu) {
				display: none;
			}
			&:hover, &.active {
				background-color: $black;
				color: $white;
			}
		}
		ul {
			display: none;
			z-index: 1;
			position: absolute;
			top: 60px;
			right: 0;
			overflow: hidden;
			border-radius: 3px;
			background-color: $black;
			@include breakpoint($bp-primary-menu) {
				display: block;
				position: static;
				overflow: visible;
				background-color: transparent;
			}
			li {
				@include breakpoint($bp-primary-menu) {
					float: left;
					margin-left: 40px;
					border: none;
				}
				&:not(:last-child) {
					border-bottom: solid 1px rgba($white, 0.2);
					@include breakpoint($bp-primary-menu) {
						border: none;
					}
				}
				a {
					&:not(.button) {
						display: block;
						padding: 15px 40px;
						border: none;
						text-align: center;
						color: $white;
						font-weight: 300;
						@include breakpoint($bp-primary-menu) {
							padding: 0;
							text-align: left;
							color: $black;
						}
						&:hover {
							background-color: $ship-grey;
							@include breakpoint($bp-primary-menu) {
								background-color: transparent;
								color: $oslo-grey;
							}
						}
					}
					&.button {
						display: inline;
						margin: 0;
						@include breakpoint(max-width $bp-primary-menu) {
							display: block;
							padding: 15px 40px;
							border: none;
							border-radius: 0;
							background-color: $primary-color;
							text-transform: inherit;
							font-size: 100%;
							color: $white;
							font-weight: 300;
							i {
								display: none;
							}
							&:hover {
								background-color: lighten($primary-color, 10%);
							}
						}
					}
				}
				&.active a:not(.button), &.active a:not(.button):hover {
					font-weight: 600;
					@include breakpoint($bp-primary-menu) {
						color: $black;
					}
				}
			}
		}
		&.toggled {
			ul {
				display: block;
			}
		}
	}
	&.transparent {
		position: absolute;
		background-color: rgba($white, 0.05);
		//border-bottom: solid 1px rgba($white, 0.1);
		.button.primary {
			@include button_filled($primary-color, $white);
		}
		nav#primary-menu ul li a {
			&:not(.button) {
				color: $white;
				&:hover {
					color: $iron;
				}
			}
			&.active {
				color: $white;
			}
		}
	}
}


// ------------------------------------------------
// ------------------ PAGE: HOME ------------------
// ------------------------------------------------

#home-webdesign {
	padding-top: 100px;
	background-image: url($img-home-webdesign);
}
#home-services {
	padding: 70px 0 100px 0;
	#home-services-intro {
		width: span(6);
		margin: 0 auto 100px auto;
		text-align: center;
	}
	.service {
		@include span(4 of 12);
		h3 {
			margin: 30px  0 5px 0;
		}
		p {
			margin-top: 0;
		}
		img {
			height: 200px;
			width: 250px;
		}
	}
}
#home-customers {
	background-color: $secondary-color;
	padding: 50px 0;
	text-align: center;
	p {
		margin: 0 0 40px 0;
	}
	img {
		height: 70px;
		width: 180px;
		&:not(:last-child) {
			margin-right: 50px;
		}
	}
}
#home-about-us {
	header {
		text-align: center;
		h3 {
			margin: 0;
		}
	}
}


// ------------------------------------------------
// -------------------- FOOTER --------------------
// ------------------------------------------------

footer {
	&, & a {
		color: $white;
		text-decoration: none;
	}
	#primary-footer {
		padding: 30px 0;
		background-color: $black;
		@include breakpoint($bp-footer) {
			padding: 50px 0;
			text-align: center;
		}
		h3 {
			margin: 0;
		}
		.button {
			@include breakpoint($bp-footer) {
				margin: 5px;
			}
		}
		#contact {
			@include span(12);
			margin-bottom: 25px;
			padding-bottom: 25px;
			border-bottom: solid 1px $ship-grey;
			@include breakpoint($bp-footer) {
				@include span(6);
				position: relative;
				margin: 0;
				border: none;
			}
			address p {
				margin: 15px 0 0 0;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 700;
			}
		}
		#social-media {
			@include span(12);
			@include breakpoint($bp-footer) {
				@include span(6 at 6);
				position: relative;
				&:after {
					content: ' ';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					width: 1px;
					background: $ship-grey;
				}
			}
		}
	}
	#secondary-footer {
		padding: 20px 0;
		background-color: $ship-grey;
		font-weight: 300;
		@include breakpoint($bp-primary-menu) {
			padding: 30px 0;
		}
		nav#footer-menu {
			@include span(12);
			ul {
				li {
					display: inline;
					&:not(:last-child):after {
						content: '/';
						margin: 0 5px;
						font-weight: 600;
					}
					a {
						border: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		#copyright {
			@include span(12);
			margin-top: 10px;
			font-size: 12px;
		}
	}
}