{% extends "layouts/base.layout.html" %}

{% block title %}Übersicht{% endblock %}

{% block content %}
<section id="drucksachen-intro" class="image featured black">
	<div class="container">
		<div class="column">
			<h1>
				Visitenkarten, Flyer und Bröschuren.
			</h1>
			<h2>Überzeugen Sie Ihre Kunden mit einem professionellen und einheitlichen Auftritt aus Visitenkarten, Flyern und Bröschuren.</h2>
			<div class="links">
				<a href="#" class="button primary filled">
					Mehr erfahren
				</a>
				<a href="{{ base ~ '/offerte/drucksachen' }}" class="button">
					Offerte anfordern
				</a>
			</div>
		</div>
	</div>
</section>
<section id="drucksachen-combine" class="container">
	<p class="description">Auf der Suche nach einem massgeschneiderten Angebot? <a href="#">Kontaktieren</a> Sie uns.</p>
</section>
<section id="drucksachen-office" class="container">
		<div>
			<h3>Visitenkarten</h3>
		</div>
		<div class="column">
			<ul class="pricing-table product-drucksachen primary">
				<li class="product-name">Visitenkarten</li>
				<div class="pricing">
					<li class="amount">250 Stück</li>
					<li class="price">100 Fr.</li>
					<li class="amount">500 Stück</li>
					<li class="price">180 Fr.</li>
					<li class="amount">1000 Stück</li>
					<li class="price">250 Fr.</li>
				</div>
				<li class="call-to-action"><a href="#" class="button primary filled">Offerte anfordern</a></li>
			</ul>
		</div>

		<div class="column">
			<ul class="pricing-table product-drucksachen primary">
				<li class="product-name">Briefpapier</li>
				<li class="amount">100 Stück</li>
				<li class="price">480 Fr.</li>
				<li class="amount">200 Stück</li>
				<li class="price">480 Fr.</li>
				<div class="features">
					<li>
						Für Suchmaschinen optimiert
						<em>Bessere Sichtbarkeit im Internet</em>
					</li>
				</div>
				<li class="call-to-action"><a href="#" class="button primary filled">Offerte anfordern</a></li>
			</ul>
		</div>
</section>
<section id="drucksachen-flyer" class="container">
</section>
<section id="drucksachen-poster" class="container">
</section>
{% endblock %}