{% extends "layouts/base.layout.html" %}

{% block title %}Übersicht{% endblock %}

{% block content %}
<section id="fotografie-intro" class="image featured black">
	<div class="container">
		<div class="column">
			<h1>
				Professionelle Fotos bewirken vieles.
			</h1>
			<h2>Wir erstellen Ihnen eine eigene Webseite. Und kümmern uns dabei um alles. Damit Sie sich auf andere Dinge konzentrieren können.</h2>
			<div class="links">
				<a href="#" class="button primary filled">
					Mehr erfahren
				</a>
				<a href="{{ base ~ '/offerte/fotografie' }}" class="button">
					Offerte anfordern
				</a>
			</div>
		</div>
	</div>
</section>
{% endblock %}