{% set primary_menu = [
	{'title': 'Übersicht', 'url': base ~ '/'},
	{'title': 'Webdesign', 'url': base ~ '/webdesign'},
	{'title': 'Fotografie', 'url': base ~ '/fotografie'},
	{'title': 'Drucksachen', 'url': base ~ '/drucksachen'},
	{'title': 'IT-Lösungen', 'url': base ~ '/it'},
] %}
{% htmlcompress %}
<!doctype html>
<html lang="de">
	<head>
		{% block head %}
			<meta charset="utf-8" />
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<title>{% block title %}base.layout{% endblock %} – web-agency</title>
			<base href="{{ base }}">
			<link rel="stylesheet" href="./css/all.css" />
		{% endblock %}
	</head>
	<body>
		<header id="primary-header"{% block header_class %}{% endblock %}>
			{% block header %}
				<div class="container-full-width">
					<h1 id="logo">
						<a href="{{ base }}">web-agency</a>
					</h1>
					<nav id="primary-menu">
						{% block primary_menu %}
							<a id="toggle-primary-menu" class="toggle button" href="#">
								<i class="fa fa-bars"></i>
								Menü
							</a>
							<ul>
								{% for menu in primary_menu %}
									<li{% if menu.url == url %} class="active"{% endif %}>
										<a href="{{ menu.url }}" title="{{ menu.title }}">{{ menu.title }}</a>
									</li>
								{% endfor %}
								<li{% if base ~ 'offerte' == current_url %} class="active"{% endif %}>
									<a class="button primary" href="{{ base ~ '/offerte' ~ uri }}" title="Offerte anfordern">
										<i class="fa fa-pencil"></i>
										Offerte anfordern
									</a>
								</li>
							</ul>
						{% endblock %}
					</nav>
				</div>
			{% endblock %}
		</header>
		<section id="content">
			{% block content %}{% endblock %}
		</section>
		<footer id="footer">
			{% block footer %}
				<div id="primary-footer">
					<div class="container">
						<div id="contact">
							<h3>Kontakt</h3>
							<p>Haben Sie eine Frage? Ist etwas unklar? Kontaktieren Sie uns. Wir helfen Ihnen gerne weiter.</p>
							<address>
								<a class="button primary" href="mailto:info@web-agency.ch" title="E-Mail-Adresse">
									<i class="fa fa-envelope"></i>
									info@web-agency.ch
								</a>
								<a class="button primary" href="tel:123456789" title="Telefonnummer">
									<i class="fa fa-phone"></i>
									123 456 789
								</a>
								<p>
									web-agency<br>
									Musterstrasse 123<br>
									1234 Musterdorf
								</p>
							</address>
						</div>
						<div id="social-media">
							<h3>Soziale Medien</h3>
							<p>Erfahren Sie aus erster Hand, was bei uns läuft. Folgen Sie uns in den Sozialen Netzwerken, um immer auf dem neusten Stand zu bleiben. <em>#gethyped #nofilter</em></p>
							<a class="button primary" href="#" title="web-agency auf Facebook">
								<i class="fa fa-facebook-square"></i>
								Facebook
							</a>
							<a class="button primary" href="#" title="web-agency auf Instagram">
								<i class="fa fa-instagram"></i>
								Instagram
							</a>
							<a class="button primary" href="#" title="web-agency auf Flickr">
								<i class="fa fa-flickr"></i>
								Flickr
							</a>
							<a class="button primary" href="#" title="web-agency auf Xing">
								<i class="fa fa-xing-square"></i>
								Xing
							</a>
							<a class="button primary" href="#" title="web-agency auf Linkedin">
								<i class="fa fa-linkedin-square"></i>
								Linkedin
							</a>
						</div>
					</div>
				</div>
				<div id="secondary-footer">
					<div class="container-full-width">
						<nav id="footer-menu">
							<ul>
								{% for menu in primary_menu %}
									<li{% if menu.url == url %} class="active"{% endif %}>
										<a href="{{ menu.url }}" title="{{ menu.title }}">{{ menu.title }}</a>
									</li>
								{% endfor %}
							</ul>
						</nav>
						<div id="copyright">
							Copyright &copy; {{ 'now'|date('Y') }} web-agency. Alle Rechte vorbehalten.
						</div>
					</div>
				</div>
			{% endblock %}
		</footer>
		{% block scripts %}
			<script src="./js/all.js"></script>
		{% endblock %}
	</body>
</html>
{% endhtmlcompress %}