{% set primary_menu = [
	{'title': 'Übersicht', 'url': base_url},
	{'title': 'Webdesign', 'url': base_url ~ 'webdesign'},
	{'title': 'Fotografie', 'url': base_url ~ 'fotografie'},
	{'title': 'Drucksachen', 'url': base_url ~ 'drucksachen'},
	{'title': 'IT-Lösungen', 'url': base_url ~ 'it'},
] %}
{% htmlcompress %}
<!doctype html>
<html class="no-js" lang="en">
	<head>
		{% block head %}
			<meta charset="utf-8" />
			<meta http-equiv="x-ua-compatible" content="ie=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<title>{% block title %}Home{% endblock %} – web-agency</title>
			<link rel="stylesheet" href="./css/all.css" />
		{% endblock %}
	</head>
	<body>
		<header id="header">
			{% block header %}
				<div class="container-full-width">
					<h1 id="logo">
						<a href="{{ base_url }}">web-agency</a>
					</h1>
					<nav id="primary-menu">
						{% block primary_menu %}
							<a id="toggle-primary-menu" class="toggle button" href="#">
								<i class="fa fa-bars"></i>
								Menü
							</a>
							<ul>
								{% for menu in primary_menu %}
									<li{% if menu.url == current_url %} class="active"{% endif %}>
										<a href="{{ menu.url }}">{{ menu.title }}</a>
									</li>
								{% endfor %}
								<li{% if base_url ~ 'offerte' == current_url %} class="active"{% endif %}>
									<a href="{{ base_url ~ 'offerte' }}" class="button primary">
										<i class="fa fa-pencil"></i>
										Offerte anfordern
									</a>
								</li>
							</ul>
						{% endblock %}
					</nav>
				</div>
			{% endblock %}
		</header>
		<section id="content">
			{% block content %}{% endblock %}
		</section>
		<footer id="footer">
			{% block footer %}
				<div id="primary-footer">
					<div class="container divider">
						<div id="contact" class="column">
							<h3>Kontakt</h3>
							<p>Haben Sie eine Frage? Ist etwas unklar? Kontaktieren Sie uns. Wir helfen Ihnen gerne weiter.</p>
							<address>
								<a href="mailto:info@web-agency.ch" title="E-Mail-Adresse" class="button primary">
									<i class="fa fa-envelope"></i>
									info@web-agency.ch
								</a>
								<a href="tel:123456789" title="Telefonnummer" class="button primary">
									<i class="fa fa-phone"></i>
									123 456 789
								</a>
								<p>
									web-agency,
									Musterstrasse 123,
									CH-1234 Musterdorf
								</p>
							</address>
						</div>
						<div id="social-media" class="column">
							<h3>Soziale Medien</h3>
							<p>Erfahren Sie aus erster Hand, was bei uns läuft. Um immer auf dem neusten Stand zu bleiben, folgen Sie uns in den Sozialen Netzwerken. <em>#gethyped #nofilter</em></p>
							<a href="#" class="button primary">
								<i class="fa fa-facebook-square"></i>
								Facebook
							</a>
							<a href="#" class="button primary">
								<i class="fa fa-instagram"></i>
								Instagram
							</a>
							<a href="#" class="button primary">
								<i class="fa fa-flickr"></i>
								Flickr
							</a>
							<a href="#" class="button primary">
								<i class="fa fa-xing-square"></i>
								Xing
							</a>
							<a href="#" class="button primary">
								<i class="fa fa-linkedin-square"></i>
								Linkedin
							</a>
						</div>
					</div>
				</div>
				<div id="secondary-footer">
					<div class="container-full-width">
						<nav id="footer-menu">
							<ul>
								{% for menu in primary_menu %}
									<li{% if menu.url == current_url %} class="active"{% endif %}>
										<a href="{{ menu.url }}">{{ menu.title }}</a>
									</li>
								{% endfor %}
							</ul>
						</nav>
						<div id="copyright">
							Copyright &copy; {{ 'now'|date('Y') }} web-agency. Alle Rechte vorbehalten.
						</div>
					</div>
				</div>
			{% endblock %}
		</footer>
		{% block scripts %}
			<script src="./js/all.js"></script>
		{% endblock %}
	</body>
</html>
{% endhtmlcompress %}